// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.
code,
pre,
kbd,
samp {
  font-family: $font-code; // 1
  font-size: 90%; // 2
}

pre, code {
  background-color: $gray-97;
  border-radius: 3px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  padding: 1em;
  line-height: $line-height-pre;

  code {
    background: transparent;
    display: inline;
    padding: 0;
    line-height: inherit;
    word-wrap: normal;

    // max-width: initial; declaration-block-no-ignored-properties
    // margin: 0; declaration-block-no-ignored-properties
    // overflow: initial; declaration-block-no-ignored-properties

    &::before,
    &::after { content: normal; }
  }

  > code {
    border: 0;
    font-size: 1em;
    white-space: pre;
    word-break: normal;
  }
}

code {
  padding: 0.2em 0;
  margin: 0;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

kbd {
  background-color: $lighter-gray;
  background-image: linear-gradient($off-white, $lighter-gray);
  background-repeat: repeat-x;
  border: 1px solid $light-gray;
  border-radius: 2px;
  box-shadow: 0 1px 0 $light-gray;
  color: $black;
  display: inline-block;
  line-height: 0.95em;
  margin: 0 1px;
  padding: 5px 5px 1px;
}
