// 1. Correct the inheritance and scaling of font size in all browsers.
// 2. Correct the odd `em` font sizing in all browsers.
code,
kbd,
samp {
  font-family: $font-code; // 1
  font-size: 90%; // 2
}

pre {
  font-size: 90%;
}

code {
  background: $lightest-gray;
  border-radius: 3px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  padding: 0;
  line-height: $line-height-pre;
  white-space: pre-wrap;
  word-break: break-word;

  code {
    background: unset;
    border-radius: 0;
    display: inline;
    padding: 0;
    line-height: inherit;
    word-wrap: break-word;

    &::before,
    &::after { content: normal; }
  }

  > code {
    display: block;
    overflow-x: auto;
    color: $gray-33;
    background: $lightest-gray;
    border: 0;
    padding: 1.5em;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

code {
  padding: 0.1em 0;
  margin: 0;

  &::before,
  &::after {
    letter-spacing: -0.25em;
    content: '\00a0';
  }
}

kbd {
  background-color: $lighter-gray;
  background-image: linear-gradient($off-white, $lighter-gray);
  background-repeat: repeat-x;
  border: 1px solid $light-gray;
  border-radius: 2px;
  box-shadow: 0 1px 0 $light-gray;
  color: $gray-33;
  display: inline-block;
  line-height: 0.95em;
  margin: 0 1px;
  padding: 5px 5px 1px;
}
