// 1. Prevent the duplicate application of `bolder` by the next rule in Safari 6.
// 2. Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: inherit; // 1
  font-weight: 600; // 2
}

// Add the correct background and color in IE 9-.
mark {
  background-color: #ff0;
  color: #000;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }
