figure {
  margin: 1em 0;

  img {
    background: $white;
    border: 1px solid $gray;
    padding: 0.25em;
  }
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  font-weight: 200;
  margin: 0;
}
