h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25em;
  margin-bottom: 1.25rem;
  margin-top: 2rem;
  position: relative;

  // rep the smallies
  small {
    color: #777;
    font-size: 0.7em;
    font-weight: 300;
  }

  code { font-size: 0.9em }
}

h1 { font-size: 2.75em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.15em; color: $darkest-gray; }
