h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  position: relative;
}

// modular scale: 1.2
// http://www.modularscale.com/?1&em&1.125&sass&text
h1 { font-size: ms(6); }
h2 { font-size: ms(5); }
h3 { font-size: ms(4); }
h4 { font-size: ms(3); }
h5 { font-size: ms(2); }
h6 { font-size: ms(1); color: $darkest-gray; }
