// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
hr {
  box-sizing: content-box; // 1
  overflow: visible; // 2
  background: transparent;
  height: 4px;
  padding: 0;
  margin: 1em 0;
  background-color: #e7e7e7;
  border: 0 none;

  &::before {
    display: table;
    content: '';
  }

  &::after {
    display: table;
    clear: both;
    content: '';
  }
}
