// 1. Remove the gray background on active links in IE 10.
// 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
a {
  background-color: transparent; // 1
  -webkit-text-decoration-skip: objects; // 2
  color: $link-color;
  text-decoration: none;


  // Remove the outline on focused links when they are also active or hovered
  // in all browsers (opinionated).
  &:active,
  &:hover {
    outline-width: 0;
    outline: 0;
  }

  &:active,
  &:focus,
  &:hover { text-decoration: underline; }
}
