// 1. Remove gaps in links underline in iOS 8+ and Safari 8+.
a {
  -webkit-text-decoration-skip: objects; // 1
  color: $link-color-light;
  text-decoration: none;

  // Remove the outline on focused links when they are also active or hovered
  // in all browsers (opinionated).
  &:active,
  &:hover {
    outline-width: 0;
    outline: 0;
  }

  &:active,
  &:focus,
  &:hover { text-decoration: underline; }
}

@media (prefers-color-scheme: dark) {
  a {
    color: $link-color-dark;
  }
}
