{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "scss/at-import-partial-extension": null,
    "selector-list-comma-newline-after": "always-multi-line",
    "declaration-block-no-duplicate-properties": [true, {
      "ignore": ["consecutive-duplicates-with-different-values"]
    }]
  }
}
