// variables

@import "src/scss/fonts";
@import "src/scss/colors";

// default settings

$font-body: $system-sans !default;
$font-code: $system-mono !default;
$font-size-body: 14px !default;
$font-size-scale: 0.25vw !default;
$line-height-body: 1.55 !default;
$line-height-pre: 1.45 !default;
$link-color: #0074d9 !default;

// note: use unitless line heights
// https://css-tricks.com/almanac/properties/l/line-height/#article-header-id-0

@import "src/scss/document";
@import "src/scss/typography/index";
@import "src/scss/embedded";
@import "src/scss/forms";
@import "src/scss/interactive";
@import "src/scss/scripting";
@import "src/scss/hidden";
