html {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "lucida grande", "helvetica neue", helvetica, "fira sans", roboto, noto, "droid sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", sans-serif;
  font-size: calc(16px + 0.25vw);
  line-height: 1.55;
  color: #303030;
  background-color: white;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga" 1, "calt" 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

main {
  max-width: 42rem;
  margin: 2em auto;
  padding: 0 1em;
  overflow: hidden;
  word-wrap: break-word;
}

main > *:first-child {
  margin-top: 0 !important;
}

main > *:last-child {
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 {
  font-size: 2.074em;
  line-height: 1.2;
}

h2 {
  font-size: 1.728em;
  line-height: 1.225;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  color: #575757;
}

p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  letter-spacing: -0.01em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:active, a:hover {
  outline-width: 0;
  outline: 0;
}

a:active, a:focus, a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0 1rem;
  color: #7d7d7d;
  border-left: 4px solid #d6d6d6;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: 600;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  background: transparent;
  height: 4px;
  padding: 0;
  margin: 1em 0;
  background-color: #e7e7e7;
  border: 0 none;
}

hr::before {
  display: table;
  content: '';
}

hr::after {
  display: table;
  clear: both;
  content: '';
}

ul,
ol {
  padding: 0;
  padding-left: 2em;
}

ul ol,
ol ol {
  list-style-type: lower-roman;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

li > p {
  margin-top: 1em;
}

dd {
  margin-left: 0;
}

dl {
  padding: 0;
}

dl dt {
  padding: 0;
  margin-top: 1em;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

dl dd {
  padding: 0 1em;
  margin-bottom: 1em;
}

code,
pre,
kbd,
samp {
  font-family: menlo, inconsolata, consolas, "fira mono", "noto mono", "droid sans mono", "dejavu sans mono", "liberation mono", "ubuntu mono", monaco, "courier new", monospace;
  font-size: calc(12px + 0.25vw);
}

pre, code {
  background-color: #f7f7f7;
  border-radius: 3px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  padding: 1em;
}

pre code {
  background: transparent;
  display: inline;
  padding: 0;
  line-height: inherit;
  word-wrap: normal;
}

pre code::before, pre code::after {
  content: normal;
}

pre > code {
  border: 0;
  white-space: pre;
  word-break: normal;
}

code {
  padding: 0.2em 0;
  margin: 0;
}

code::before, code::after {
  letter-spacing: -0.2em;
  content: '\00a0';
}

kbd {
  background-color: #e6e6e6;
  background-image: linear-gradient(#fafafa, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  box-shadow: 0 1px 0 #d6d6d6;
  color: #303030;
  display: inline-block;
  font-size: 0.75em;
  line-height: 0.95em;
  margin: 0 1px;
  padding: 5px 5px 1px;
}

figure {
  margin: 1em 0;
}

figure img {
  background: white;
  border: 1px solid #c7c7c7;
  padding: 0.25em;
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  font-weight: 200;
  margin: 0;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  border: 0;
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
}

td,
th {
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table th {
  font-weight: bold;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

input {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[disabled] {
  cursor: default;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
