/* @import '../../style.scss';
@import 'top-bar.css/source/top-bar.scss';

$top-bar-family: $system-sans;

*/
@import 'top-bar.css';
@import '../dist/mine.css';
@import '../dist/layout.css';
@import 'highlight.js/styles/a11y-dark.css';

.top-bar {
  font-family: inherit;
  margin-bottom: 0;
  margin-top: 0;
  backdrop-filter: contrast(100%) blur(10px);
  background-color: hsla(360, 100%, 100%, 0.75);
  transition: box-shadow 0.1s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 1; /* float over interactive content below */

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in-out;
  }
}

.dark-mode:not(.light-mode) .top-bar {
  background-color: hsla(0, 0%, 12%, 0.75);

  &:hover {
    box-shadow: 0 2px 10px 0 hsla(0, 0%, 5%, 0.2);
  }
}

.top-bar-link {
  font-weight: 400;
  color: var(--accent-foreground);
}

.top-bar-link.current-page,
.top-bar-link.current-page:hover,
.top-bar-link:hover {
  color: var(--text);
}

footer {
  text-align: center;
  margin: 3rem auto;
}

footer a {
  color: #777;
  text-decoration: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-click {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(540deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.dark-icon {
  animation-name: spin-reverse;
  animation-duration: 0.2s;
}

.dark-icon:hover {
  animation-name: spin;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.dark-icon:active {
  animation-name: spin-click;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

:not(.light-mode).dark-mode .dark-icon {
  filter: invert(95%);
}

.paragraph {
  @extend p;
}
