blockquote {
  margin: 0 0 1rem;
  padding: 0 1rem;
  color: var(--accent-foreground);
  border-left: 4px solid var(--accent-midground);

  & > :first-child { margin-top: 0; }
  & > :last-child { margin-bottom: 0; }
}
