/* 1. Correct the inheritance and scaling of font size in all browsers.
   2. Correct the odd `em` font sizing in all browsers. */
code,
pre,
kbd,
samp {
  font-family: var(--font-code); /* 1 */
  font-size: 90%; /* 2 */
}

code {
  padding: 0.2em 0;
  margin: 0;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

pre,
code {
  background-color: var(--code-background-color);
  border-radius: 5px;
  border: 1px solid var(--code-background-color);
}

pre {
  overflow: auto;
  word-wrap: normal;
  line-height: var(--line-height-pre);

  & code {
    background: transparent;
    display: block;
    padding: 0.5em;
    line-height: inherit;
    word-wrap: normal;

    &::before,
    &::after { content: normal; }
  }

  & > code {
    border: 0;
    font-size: 1em;
    white-space: pre;
    word-break: normal;
  }
}
