/* 1. Correct the inheritance and scaling of font size in all browsers.
   2. Correct the odd `em` font sizing in all browsers. */
code,
pre,
kbd,
samp {
  font-family: var(--font-code); /* 1 */
  font-size: 90%; /* 2 */
  color: var(--code-text);
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
}

pre,
code {
  background-color: var(--code-background);
  border-radius: 5px;
}

a code,
pre,
kbd,
samp {
  color: var(--link-text);
}

pre {
  overflow: auto;
  word-wrap: normal;
  line-height: var(--line-height-pre);
  border: 1px solid var(--code-border);

  & code {
    background: transparent;
    display: block;
    padding: 0.5em;
    line-height: inherit;
    word-wrap: normal;
    border-radius: unset;

    &::before,
    &::after { content: normal; }
  }

  & > code {
    border: 0;
    font-size: 1em;
    white-space: pre;
    word-break: normal;
  }
}
