figure {
  margin: 1em 0;

  & img {
    background: var(--layer-background);
    border: 1px solid var(--accent-midground);
    padding: 0.25em;
  }
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  margin: 0;
  color: var(--accent-foreground);
}
