figure {
  margin: 1em 0;

  & img,
  & video {
    background: var(--layer-background);
    border: 1px solid var(--accent-midground);
    border-radius: 5px;
    padding: 0.25em;
  }

  &.borderless img,
  &.borderless video {
    border: none;
    padding: 0;
  }
}

figcaption {
  font-style: italic;
  font-size: 0.75em;
  margin: 0;
  color: var(--accent-foreground);
}
