/* Keyboard kbd shortcut key style */

kbd {
  background-color: var(--kbd-background-color);
  background-image: linear-gradient(var(--kbd-background-color), var(--kbd-background-color-highlight) 75%);
  background-repeat: repeat-x;
  border: 1px solid var(--kbd-border-color);
  border-radius: 2px;
  box-shadow: 0 1px 0 var(--kbd-border-color); /* depth */
  color: var(--kbd-color);
  display: inline-block;
  line-height: 0.95em;
  margin: 0 1px;
  padding: 5px 5px 1px;
}
