/* Keyboard kbd shortcut key style */

kbd {
  background-color: var(--layer-background-color);
  background-image: linear-gradient(var(--layer-background-color), var(--accent-background) 75%);
  background-repeat: repeat-x;
  border: 1px solid var(--accent-midground);
  border-radius: 2px;
  box-shadow: 0 1px 0 var(--accent-midground); /* depth */
  color: var(--text-color);
  display: inline-block;
  line-height: 0.95em;
  margin: 0 1px;
  padding: 5px 5px 1px;
}
