<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>guide | ngoldman/style.css</title>
  <link rel="stylesheet" href="./style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <header class="site-header">
    <nav class="site-nav">
      <a class="site-title" href="./">style.css</a>
      <a class="site-link current-page" href="./guide.html">guide</a>
      <div class="site-nav-right">
        <a class="site-link" href="https://github.com/ngoldman/style.css/"><i class="fa fa-fw fa-github"></i></a>
      </div>
    </nav>
  </header>
  <main class="site-main">
    <h1>Style Guide</h1>
    <article class="markdown-body">
