<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>style.css</title>
  <link rel="stylesheet" href="./style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<main class="page">

<nav class="top-bar">
  <a class="top-bar-title" href="./">style.css</a>
  <a class="top-bar-link" href="./guide.html">guide</a>
  <div class="top-bar-right">
    <a class="top-bar-link" href="https://github.com/ungoldman/style.css/">
      <i class="fa fa-fw fa-github"></i> fork it
    </a>
  </div>
</nav>

<article class="markdown-body">
