td,
th { padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  th { font-weight: bold; }

  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;

    &:nth-child(2n) { background-color: #f8f8f8; }
  }
}
