/* html should be at the top */

html {
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: calc(var(--font-size-body) + var(--font-size-scale));
  line-height: var(--line-height-body);
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
}

/* Remove the margin in all browsers. */
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* apply a natural box layout model to all elements, but allowing components to change
   https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Mobile gutter padding */
@supports (padding: max(0)) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
