/* variables */
@import './color-vars.css';
@import './system-fonts-vars.css';
@import './document.css';
@import './typography/index.css';

/* default settings */
:root {
  /* font family */
  --font-body: var(--system-sans);
  --font-code: var(--system-mono);

  /* font size and spacing */
  --font-size-body: 14px;
  --font-size-scale: 0.25vw;
  --line-height-body: 1.55;
  --line-height-pre: 1.45;

  /* colors */
  --link-color: hsla(208, 100%, 50%, 1);
  --blockquote-color: var(--darker-gray);
  --code-background-color: var(--lightest-gray);
  --pre-background-color: var(--lightest-gray);
  --kbd-background-color: var(--lighter-gray);
  --kbd-background-color-highlight: var(--off-white);
  --kbd-border-color: var(--light-gray);
  --kbd-color: var(--black);
  --small-color: #777;
  --mark-color: #000;
  --mark-background-color: #ff0;
  --figure-background-color: var(--white);
  --figure-border-color: var(--gray);
  --h6-color: var(--darkest-gray);
  --hr-color: #e7e7e7;
  --tr-background-color: #fff;
  --tr-background-color-alt: #f8f8f8;
  --tr-border-color: #ccc;
  --th-border-color: #ddd;

  /* dark mode */
  supported-color-schemes: light dark;
  color-scheme: light dark; /* stylelint-disable-line */
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-background-color: var(--black);
    --link-color: hsl(206.7, 100%, 70%);
    --pre-color: var(--black);
  }
}

/* note: use unitless line heights
   https://css-tricks.com/almanac/properties/l/line-height/#article-header-id-0 */
