.mine-layout {
  max-width: 46em;
  margin: 2em auto;
  padding: 0 1em;
  overflow: hidden;
  word-wrap: break-word;
}

.mine-layout > *:first-child { margin-top: 0 !important; }
.mine-layout > *:last-child { margin-bottom: 0 !important; }

/* Mobile gutter padding */
@supports (padding: max(0)) {
  .safe-area-inset {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* style.css site specific stuff */
.serif { font-family: var(--system-serif); }
.sans { font-family: var(--system-sans); }
