/* stylelint-disable */
/* TODO: Make sure this is up to date */
:root {
  --system-sans: system-ui, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, /* mac, ios */
                 'segoe ui', /* windows */
                 roboto, noto, 'droid sans', /* android */
                'liberation sans', /* linux */
                'lucida grande', 'helvetica neue', helvetica, /* old mac */
                'franklin gothic medium', 'century gothic', /* old windows */
                cantarell, oxygen, ubuntu, /* old linux */
                sans-serif; /* fallback */
  --system-mono:  system-ui-monospaced, menlo, /* mac */
                  inconsolata, consolas, /* windows */
                  'noto mono', 'droid sans mono', /* android */
                  'liberation mono', 'dejavu sans mono', 'ubuntu mono', /* linux */
                  monaco, 'courier new', /* older systems */
                  monospace; /* fallback */
  --system-serif: charter, constantia, /* mac */
                  'lucida bright', lucidabright, 'lucida serif', lucida, /* windows */
                  'dejavu serif', 'bitstream vera serif', 'liberation serif', /* linux */
                  georgia, /* old systems */
                  serif; /* fallback */
}
/* stylelint-enable */
