$white: #fff;
$off-white: #fafafa;
$gray-97: #f7f7f7;
$lightest-gray: #f2f2f2;
$lighter-gray: #e6e6e6;
$light-gray: #d6d6d6;
$gray: #c7c7c7;
$dark-gray: #a3a3a3;
$darker-gray: #7d7d7d;
$darkest-gray: #575757;
$gray-44: #444;
$gray-40: #404040;
$gray-33: #333;
$gray-22: #222;
$gray-06: #060606;
$black: #000;
