$white: #fff;

$lightest-gray: #f2f2f2;
$lighter-gray: #e6e6e6;
$light-gray: #c7c7c7;

$dark-gray: #666;
$darker-gray: #555;
$darkest-gray: #444;
$charcoal: #333;

$off-white: #fafafa;

$light-gunmetal: #3b434d;
$gunmetal: #30373e;
$dark-gunmetal: #252a30;

// handy tool for building a monochromatic range
// https://www.colorhexa.com/3b434d
