$white:                 hsl(0, 0, 100%);
$off-white:             hsl(0, 0, 98%);
$gray-97:               hsl(0, 0, 97%);
$lightest-gray:         hsl(0, 0, 95%);
$lighter-gray:          hsl(0, 0, 90%);
$light-gray:            hsl(0, 0, 84%);
$gray:                  hsl(0, 0, 78%);
$dark-gray:             hsl(0, 0, 64%);
$darker-gray:           hsl(0, 0, 49%);
$darkest-gray:          hsl(0, 0, 34%);
$off-black:             hsl(0, 0, 25%);
$black:                 hsl(0, 0, 19%);
