// html should be at the top
html {
  color: $black;
  background-color: $white;
  box-sizing: border-box;
  font-family: $font-body;
  font-size: calc(#{$font-size-body} + #{$font-size-scale});
  line-height: $line-height-body;

  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga" 1, "calt" 0;

  // weird vendor stuff
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// Remove the margin in all browsers.
body {
  margin: 0;
}

// 1. Add the correct display in IE 9-.
// 2. Add the correct display in IE.
article,  // 1
aside,  // 1
footer,  // 1
header,  // 1
nav,  // 1
section,  // 1
figcaption, // 1
figure, // 1
main { // 2
  display: block;
}

// apply a natural box layout model to all elements, but allowing components to change
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*::before,
*::after {
  box-sizing: inherit;
}
