// html should be at the top
html {
  color: $black;
  background-color: $white;
  box-sizing: border-box;
  font-family: $font-body;
  font-size: $font-size-body;
  font-size: clamp($font-size-body, 1.25vw, 19px);
  line-height: $line-height-body;

  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

// Remove the margin in all browsers.
body {
  margin: 0;
}

// apply a natural box layout model to all elements, but allowing components to change
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*::before,
*::after {
  box-sizing: inherit;
}
