// html should be at the top
html {
  font-family: $system-sans;
  font-size: calc(16px + 0.25vw);
  line-height: 1.55;
  color: $black;
  background-color: $white;

  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga" 1, "calt" 0;

  // weird vendor stuff
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// Remove the margin in all browsers.
body {
  margin: 0;
}

// 1. Add the correct display in IE 9-.
// 2. Add the correct display in IE.
article,  // 1
aside,  // 1
footer,  // 1
header,  // 1
nav,  // 1
section,  // 1
figcaption, // 1
figure, // 1
main { // 2
  display: block;
}
