// html should be at the top
html {
  color: $color-light;
  background-color: $bg-light;
  box-sizing: border-box;
  font-family: $font-body;
  font-size: clamp($font-size-body, $font-size-scale, $font-size-max);
  line-height: $line-height-body;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  html {
    color: $color-dark;
    background-color: $bg-dark;
  }
}

// Remove the margin in all browsers.
body {
  margin: 0;
}

// apply a natural box layout model to all elements, but allowing components to change
// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  max-width: $main-width;
  margin: 3em auto;
  padding: 0 1em;
  word-wrap: break-word;
}

@media screen and (min-width: 50em) {
  main {
    margin: 10vh auto;
  }
}
