$system-sans:  -apple-system, BlinkMacSystemFont, // mac, ios
               'segoe ui', // windows
               'liberation sans', // linux
               roboto, // android
               helvetica, // old systems
               sans-serif; // fallback

$system-mono:  menlo, // mac
               inconsolata, // windows
               'liberation mono', // linux
               'noto mono', // android
               monaco, 'courier new', // older systems
               monospace; // fallback

$system-serif: charter, constantia, // mac
               'lucida bright', lucida, // windows
               'liberation serif', // linux
               georgia, // old systems
               serif; // fallback
