$system-sans:  'san francisco', // mac, ios
               'segoe ui', // windows
               'liberation sans', // linux
               roboto, // android
               helvetica, // old systems
               sans-serif; // fallback

$system-mono:  menlo, // mac
               inconsolata, // windows
               'liberation mono', // linux
               'noto mono', // android
               monaco, 'courier new', // old systems
               monospace; // fallback

$system-serif: charter, // mac
               'lucida bright', // windows
               'liberation serif', // linux
               georgia, // old systems
               serif; // fallback
