// headers
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

// header sizes
h1 { font-size: 2.074em; line-height: 1.2; }
h2 { font-size: 1.728em; line-height: 1.225; }
h3 { font-size: 1.44em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; color: $darkest-gray; }

// same margins for all typographic block elements
p,
blockquote,
ul,
ol,
dl,
table,
pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

// tighten up body copy just a smidge
p { letter-spacing: -0.01em; }

// 1. Remove the gray background on active links in IE 10.
// 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
a {
  background-color: transparent; // 1
  -webkit-text-decoration-skip: objects; // 2
  text-decoration: none;

  // Remove the outline on focused links when they are also active or hovered
  // in all browsers (opinionated).
  &:active,
  &:hover {
    outline-width: 0;
    outline: 0;
  }

  &:active,
  &:focus,
  &:hover { text-decoration: underline; }
}

blockquote {
  margin: 0 0 1rem;
  padding: 0 1rem;
  color: $darker-gray;
  border-left: 4px solid $light-gray;

  &>:first-child { margin-top: 0; }
  &>:last-child { margin-bottom: 0; }
}

// 1. Remove the bottom border in Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
abbr[title] {
  border-bottom: none; // 1
  text-decoration: underline; // 2
  text-decoration: underline dotted; // 2
}

// 1. Prevent the duplicate application of `bolder` by the next rule in Safari 6.
// 2. Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: inherit; // 1
  font-weight: 600; // 2
}

// Add the correct font style in Android 4.3-.
dfn { font-style: italic; }

// Add the correct background and color in IE 9-.
mark {
  background-color: #ff0;
  color: #000;
}

// Add the correct font size in all browsers.
small { font-size: 80%; }

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }

// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
hr {
  box-sizing: content-box; // 1
  overflow: visible; // 2
  background: transparent;
  height: 4px;
  padding: 0;
  margin: 1em 0;
  background-color: #e7e7e7;
  border: 0 none;

  &::before {
    display: table;
    content: '';
  }

  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

// lists

ul,
ol {
  padding: 0;
  padding-left: 2em;

  ol { list-style-type: lower-roman; }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;

    ol { list-style-type: lower-alpha; }
  }
}

li > p { margin-top: 1em; }

// definitions

dd { margin-left: 0; }

dl {
  padding: 0;

  dt {
    padding: 0;
    margin-top: 1em;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
  }

  dd {
    padding: 0 1em;
    margin-bottom: 1em;
  }
}
