// default settings

$font-size-body:    16px !default;
$font-size-code:    12px !default;
$font-size-scale:   0.25vw !default;
$line-height-body:  1.55em !default;
$line-height-pre:   1.45em !default;
$link-color:        steelblue !default;
$layout-width:      42em !default;

// optimal line length for readability:
// http://baymard.com/blog/line-length-readability

@import 'fonts';
@import 'colors';
@import 'document';
@import 'layout';
@import 'typography';
@import 'links';
@import 'code';
@import 'figures';
@import 'embedded';
@import 'tables';
@import 'forms';
@import 'interactive';
@import 'scripting';
@import 'hidden';
