@import 'fonts';
@import 'grayscale';

// html should be at the top
html {
  font-family: $system-sans;
  font-size: calc(16px + 0.25vw);
  line-height: 1.55;
  color: $off-black;
  background-color: $off-white;

  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern", "liga" 1, "calt" 0;

  // weird vendor stuff
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@import 'document';
@import 'layout';
@import 'typography';
@import 'figures';
@import 'embedded';
@import 'tables';
@import 'forms';
@import 'interactive';
@import 'scripting';
@import 'hidden';
