// variables

$base-font-size: 17px;
$code-font-size: 13px;

$body-family:   'Lora',
                'Lucida Grande',
                'Segoe UI',
                'Arial',
                sans-serif;
$header-family: 'Montserrat',
                'Helvetica Neue',
                'Helvetica',
                'Arial',
                sans-serif;
$code-family:   'Consolas',
                'Andale Mono',
                'Lucida Console',
                'Monaco',
                'Courier New',
                Courier,
                monospace;

// gfm config

$gfm-body-font-family: $body-family;
$gfm-code-font-family: $code-family;
$gfm-header-font-family: $header-family;
$gfm-body-font-size: $base-font-size;
$gfm-code-font-size: $code-font-size;

@import '../node_modules/gfm.css/source/gfm';

// typography

h1, h2, h3, h4, h5, h6,
body > header > nav > a {
  font-family: $header-family;
}

code {
  font-family: $code-family;
}

// base element styling

// links

a {
  color: #c3c;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    color: #f3c;
  }
}

// images

figure {
  margin: 1.5rem 0;

  img {
    max-width: 98%;
    background: #fafafa;
    padding: 1%;
    border: 1px solid #ddd;
  }

  figcaption {
    margin: .25rem 0 .5rem;
    font-size: .75rem;
    color: #777;
  }
}

body {
  font-family: $body-family;
  font-size: $base-font-size;
  color: #333;

  margin: 0 auto;
  max-width: 38rem;
  padding: 0 1rem;

  // persistent ancillary elements

  // header

  > header {
    margin: 2rem 0;

    > nav {
      overflow: auto;

      .site-link,
      .site-title {
        float: left;
        font-size: 1rem;

        &:hover {
          color: #f3c;
        }

        &.current-page,
        &.current-page:hover {
          color: #f3c;
          cursor: default;
        }

        &.right {
          float: right;
        }
      }

      .site-link {
        color: #aaa;
        font-weight: 200;
        margin-left: 1rem;
      }

      .site-title {
        color: #555;
        font-weight: 600;
      }
    }
  }

  // footer

  > footer {
    margin: 3rem 0 2rem;
    font-size: .75rem;
    color: #999;
  }
}

// primary page content

.markdown-body {

  font-family: $body-family;
  font-size: $base-font-size;
  color: #333;

  margin: 0 0 3rem;

  table {
    font-family: $code-family;
  }

  > footer {
    margin: 1.5rem 0;
    border-top: 1px solid #eee;

    > p {
      font-size: .75rem;
      color: #999;
      margin: .75rem 0;
    }
  }
}
