// variables

$base-font-size:  16px    !default;
$code-font-size:  12px    !default;
$content-width:   38rem   !default;

$body-family:   'Lora',
                'Lucida Grande',
                'Segoe UI',
                'Arial',
                sans-serif  !default;
$header-family: 'Montserrat',
                'Helvetica Neue',
                'Helvetica',
                'Arial',
                sans-serif  !default;
$code-family:   'Consolas',
                'Andale Mono',
                'Lucida Console',
                'Monaco',
                'Courier New',
                Courier,
                monospace   !default;

// gfm config

$gfm-body-font-family: $body-family;
$gfm-code-font-family: $code-family;
$gfm-header-font-family: $header-family;
$gfm-body-font-size: $base-font-size;
$gfm-code-font-size: $code-font-size;
$top-bar-family: $header-family;

@import '../node_modules/gfm.css/source/gfm';
@import '../node_modules/top-bar.css/source/top-bar';

// typography

html, html a {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
body > header > nav > a {
  font-family: $header-family;
}

code {
  font-family: $code-family;
}

// base element styling

// links

a {
  color: #f30;
  text-decoration: none;
  transition: color 0.5s ease;

  &:hover {
    color: #f30;
    text-decoration: underline;
  }
}

// images

figure {
  margin: 1.5rem 0;

  img {
    max-width: 98%;
    background: #fafafa;
    padding: 1%;
    border: 1px solid #ddd;
  }

  figcaption {
    margin: .25rem 0 .5rem;
    font-size: .75rem;
    color: #777;
  }
}

body {
  font-family: $body-family;
  font-size: $base-font-size;
  color: #333;
}

// persistent ancillary elements

// page wrapper

.page {
  margin: 3rem auto;
  max-width: $content-width;
  padding: 0 1rem;
}

// primary page content

.markdown-body {
  font-family: $body-family;
  font-size: $base-font-size;
  color: #333;

  table {
    font-family: $code-family;
  }
}
