@import '../../style.scss';
@import 'top-bar.css/source/top-bar.scss';

$top-bar-family: $system-sans;

main {
  max-width: 46em;
  margin: 2em auto;
  padding: 0 1em;
  overflow: hidden;
  word-wrap: break-word;

  > *:first-child { margin-top: 0 !important; }
  > *:last-child { margin-bottom: 0 !important; }
}

.top-bar {
  font-family: inherit;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 84em) {
  .top-bar {
    position: sticky;
    top: -1px;
  }
}

footer {
  text-align: center;
  margin: 3rem auto;

  & a {
    color: #777;
    text-decoration: none;
  }
}

// style.css site specific stuff
.serif { font-family: $system-serif; }

// header styling
.hero {
  border-bottom: 1px solid #ddd;
  padding: 1em;
}
.hero h1,
.hero > :last-child {
  margin: 0;
}

// fiddling with top-bar for small screens
.top-bar-btn-group,
.top-bar-text {
  float: left;
}
.top-bar-text {
  color: #aaa;
  float: left;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem 0;
  margin-left: .25rem;
}
.top-bar-btn-group {
  margin-left: 1rem;
}
.top-bar-btn-group > :first-child {
  margin-left: 0;
}
.top-bar-btn-group .top-bar-link {
  margin-left: .25rem;
}
@media screen and (max-width: 600px) {
  .xs-hide { display: none }
  .top-bar-link,
  .top-bar-btn-group { margin-left: .5rem }
}

// inherited from ungoldman.com
/* print styles */

@media print {
  @page {
    margin: 3.75rem;
  }

  .page {
    margin: 0;

    > header {
      display: none;
    }
  }

  html { background: white }
  body { border: 0 }

  .subject { display: none }
  .subject .title { margin: 0 auto .5rem }
  .content { padding: 0; }
  .nav { display: none }

  .markdown-body {
    h1 { padding: 0 }
    font-size: 13px;
  }

  .page-break {
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;
  }

  .pdf-download { display: none }
}
