@import '../../style.scss';
@import 'top-bar.css/source/top-bar.scss';

$top-bar-family: $system-sans;

.top-bar {
  font-family: inherit;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 84em) {
  .top-bar {
    position: sticky;
    top: -1px;
  }
}

footer {
  text-align: center;
  margin: 3rem auto;

  & a {
    color: #777;
    text-decoration: none;
  }
}

// style.css site specific stuff
.serif { font-family: $system-serif; }

// inherited from ungoldman.com
/* print styles */

@media print {
  @page {
    margin: 3.75rem;
  }

  .page {
    margin: 0;

    > header {
      display: none;
    }
  }

  html { background: white }
  body { border: 0 }

  .subject { display: none }
  .subject .title { margin: 0 auto .5rem }
  .content { padding: 0; }
  .nav { display: none }

  .markdown-body {
    h1 { padding: 0 }
    font-size: 13px;
  }

  .page-break {
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;
  }

  .pdf-download { display: none }
}
